html,
body {
  font-family: 'PoppinsRegular';
}


.navbar {
  font-family: 'PoppinsMedium';
  font-size: 1.128rem;
}

.navbar-light {
  background-color: #e3f2fd;
}

//FONTS
@font-face {
  font-family: "PoppinsRegular";
  src: url("./fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "PoppinsMedium";
  src: url("./fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "PoppinsBold";
  src: url("./fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "PoppinsSemiBold";
  src: url("./fonts/Poppins-SemiBold.ttf");
}
